openapi: 3.0.3
info:
  title: GoRest API - Users, Posts, Comments e Todos
  description: >
    Documentação OpenAPI (não oficial) dos recursos Users, Posts, Comments e
    Todos da GoRest (https://gorest.co.in), escrita a partir da observação do
    comportamento real da API pública. Usada como contrato de referência para
    os testes automatizados deste repositório.
  version: "1.0.0"
  contact:
    name: GoRest (API pública de terceiros)
    url: https://gorest.co.in/
externalDocs:
  description: Site oficial da GoRest
  url: https://gorest.co.in/

servers:
  - url: https://gorest.co.in/public/v2
    description: Ambiente público da GoRest

tags:
  - name: Users
    description: Operações sobre o recurso de usuários
  - name: Posts
    description: Operações sobre o recurso de posts, vinculados a um usuário
  - name: Comments
    description: Operações sobre o recurso de comments, vinculados a um post
  - name: Todos
    description: Operações sobre o recurso de todos, vinculados a um usuário

paths:
  /users:
    get:
      tags: [Users]
      summary: Lista usuários
      description: Retorna uma página de usuários, com suporte a filtros e paginação.
      parameters:
        - name: page
          in: query
          description: Número da página. Valores menores que 1 são tratados como 1.
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: Quantidade de itens por página.
          schema:
            type: integer
            default: 10
        - name: gender
          in: query
          description: >
            Filtra por gênero. Valores fora do enum (male/female) não geram erro:
            a API retorna 200 com uma lista vazia (ver issue documentada no repositório).
          schema:
            type: string
            enum: [male, female]
        - name: status
          in: query
          description: Filtra por status.
          schema:
            type: string
            enum: [active, inactive]
      responses:
        "200":
          description: Lista de usuários (pode ser vazia)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/User"
    post:
      tags: [Users]
      summary: Cria um usuário
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserInput"
      responses:
        "201":
          description: Usuário criado com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          description: Token de autenticação ausente ou inválido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "422":
          description: Erro de validação dos campos enviados
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorList"

  /users/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Identificador numérico do usuário.
        schema:
          type: integer
    get:
      tags: [Users]
      summary: Busca um usuário por ID
      responses:
        "200":
          description: Usuário encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "404":
          description: >
            Usuário não encontrado. A API retorna o mesmo corpo tanto para um
            ID inexistente quanto para um ID em formato inválido (ex.: não numérico) -
            ver issue documentada no repositório.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
    put:
      tags: [Users]
      summary: Atualiza um usuário existente
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserUpdateInput"
      responses:
        "200":
          description: Usuário atualizado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          description: Token de autenticação ausente ou inválido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "404":
          description: Usuário não encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "422":
          description: Erro de validação dos campos enviados
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorList"
    delete:
      tags: [Users]
      summary: Remove um usuário
      security:
        - bearerAuth: []
      responses:
        "204":
          description: Usuário removido com sucesso
        "401":
          description: Token de autenticação ausente ou inválido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "404":
          description: Usuário não encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"

  /users/{id}/posts:
    parameters:
      - name: id
        in: path
        required: true
        description: Identificador numérico do usuário.
        schema:
          type: integer
    get:
      tags: [Posts]
      summary: Lista os posts de um usuário específico
      responses:
        "200":
          description: Lista de posts do usuário (pode ser vazia)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Post"

  /posts:
    get:
      tags: [Posts]
      summary: Lista posts
      description: Retorna uma página de posts, com suporte a paginação.
      parameters:
        - name: page
          in: query
          description: Número da página.
          schema:
            type: integer
            default: 1
      responses:
        "200":
          description: Lista de posts (pode ser vazia)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Post"
    post:
      tags: [Posts]
      summary: Cria um post
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostInput"
      responses:
        "201":
          description: Post criado com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"
        "401":
          description: Token de autenticação ausente ou inválido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "422":
          description: >
            Erro de validação dos campos enviados. Inclui o caso de um
            `user_id` que não corresponde a um usuário existente
            (`{"field":"user","message":"must exist"}`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorList"

  /posts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Identificador numérico do post.
        schema:
          type: integer
    get:
      tags: [Posts]
      summary: Busca um post por ID
      responses:
        "200":
          description: Post encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"
        "404":
          description: >
            Post não encontrado. Assim como em Users, a API retorna o mesmo
            corpo tanto para um ID inexistente quanto para um ID em formato
            inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
    put:
      tags: [Posts]
      summary: Atualiza um post existente
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostUpdateInput"
      responses:
        "200":
          description: Post atualizado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"
        "401":
          description: Token de autenticação ausente ou inválido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "404":
          description: Post não encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
    delete:
      tags: [Posts]
      summary: Remove um post
      security:
        - bearerAuth: []
      responses:
        "204":
          description: Post removido com sucesso
        "401":
          description: Token de autenticação ausente ou inválido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "404":
          description: Post não encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"

  /posts/{id}/comments:
    parameters:
      - name: id
        in: path
        required: true
        description: Identificador numérico do post.
        schema:
          type: integer
    get:
      tags: [Comments]
      summary: Lista os comments de um post específico
      responses:
        "200":
          description: Lista de comments do post (pode ser vazia)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Comment"

  /comments:
    get:
      tags: [Comments]
      summary: Lista comments
      description: Retorna uma página de comments, com suporte a paginação.
      parameters:
        - name: page
          in: query
          description: Número da página.
          schema:
            type: integer
            default: 1
      responses:
        "200":
          description: Lista de comments (pode ser vazia)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Comment"
    post:
      tags: [Comments]
      summary: Cria um comment
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommentInput"
      responses:
        "201":
          description: Comment criado com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
        "401":
          description: Token de autenticação ausente ou inválido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "422":
          description: >
            Erro de validação dos campos enviados. Inclui o caso de um
            `post_id` que não corresponde a um post existente
            (`{"field":"post","message":"must exist"}`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorList"

  /comments/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Identificador numérico do comment.
        schema:
          type: integer
    get:
      tags: [Comments]
      summary: Busca um comment por ID
      responses:
        "200":
          description: Comment encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
        "404":
          description: >
            Comment não encontrado. Assim como em Users e Posts, a API retorna
            o mesmo corpo tanto para um ID inexistente quanto para um ID em
            formato inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
    put:
      tags: [Comments]
      summary: Atualiza um comment existente
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommentUpdateInput"
      responses:
        "200":
          description: Comment atualizado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
        "401":
          description: Token de autenticação ausente ou inválido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "404":
          description: Comment não encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
    delete:
      tags: [Comments]
      summary: Remove um comment
      security:
        - bearerAuth: []
      responses:
        "204":
          description: Comment removido com sucesso
        "401":
          description: Token de autenticação ausente ou inválido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "404":
          description: Comment não encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"

  /users/{id}/todos:
    parameters:
      - name: id
        in: path
        required: true
        description: Identificador numérico do usuário.
        schema:
          type: integer
    get:
      tags: [Todos]
      summary: Lista os todos de um usuário específico
      responses:
        "200":
          description: Lista de todos do usuário (pode ser vazia)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Todo"

  /todos:
    get:
      tags: [Todos]
      summary: Lista todos
      description: Retorna uma página de todos, com suporte a paginação.
      parameters:
        - name: page
          in: query
          description: Número da página.
          schema:
            type: integer
            default: 1
      responses:
        "200":
          description: Lista de todos (pode ser vazia)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Todo"
    post:
      tags: [Todos]
      summary: Cria um todo
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TodoInput"
      responses:
        "201":
          description: Todo criado com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Todo"
        "401":
          description: Token de autenticação ausente ou inválido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "422":
          description: >
            Erro de validação dos campos enviados. Inclui os casos de um
            `user_id` que não corresponde a um usuário existente
            (`{"field":"user","message":"must exist"}`) e de um `status`
            fora do enum permitido
            (`{"field":"status","message":"can't be blank, can be pending or completed"}`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorList"

  /todos/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Identificador numérico do todo.
        schema:
          type: integer
    get:
      tags: [Todos]
      summary: Busca um todo por ID
      responses:
        "200":
          description: Todo encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Todo"
        "404":
          description: >
            Todo não encontrado. Assim como nos demais recursos, a API
            retorna o mesmo corpo tanto para um ID inexistente quanto para um
            ID em formato inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
    put:
      tags: [Todos]
      summary: Atualiza um todo existente
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TodoUpdateInput"
      responses:
        "200":
          description: Todo atualizado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Todo"
        "401":
          description: Token de autenticação ausente ou inválido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "404":
          description: Todo não encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
    delete:
      tags: [Todos]
      summary: Remove um todo
      security:
        - bearerAuth: []
      responses:
        "204":
          description: Todo removido com sucesso
        "401":
          description: Token de autenticação ausente ou inválido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "404":
          description: Todo não encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: "GoRest personal access token"

  schemas:
    User:
      type: object
      required: [id, name, email, gender, status]
      properties:
        id:
          type: integer
          example: 8599730
        name:
          type: string
          example: "Preity Panicker"
        email:
          type: string
          format: email
          example: "preity_panicker@considine.test"
        gender:
          type: string
          enum: [male, female]
        status:
          type: string
          enum: [active, inactive]

    UserInput:
      type: object
      required: [name, email, gender, status]
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        gender:
          type: string
          enum: [male, female]
        status:
          type: string
          enum: [active, inactive]

    UserUpdateInput:
      type: object
      description: Todos os campos são opcionais em uma atualização parcial.
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        gender:
          type: string
          enum: [male, female]
        status:
          type: string
          enum: [active, inactive]

    ErrorMessage:
      type: object
      properties:
        message:
          type: string
          example: "Resource not found"

    ValidationErrorList:
      type: array
      items:
        type: object
        properties:
          field:
            type: string
            example: "email"
          message:
            type: string
            example: "has already been taken"

    Post:
      type: object
      required: [id, user_id, title, body]
      properties:
        id:
          type: integer
          example: 290191
        user_id:
          type: integer
          description: ID do usuário autor do post.
          example: 8600511
        title:
          type: string
        body:
          type: string

    PostInput:
      type: object
      required: [user_id, title, body]
      properties:
        user_id:
          type: integer
          description: Deve corresponder a um usuário existente.
        title:
          type: string
        body:
          type: string

    PostUpdateInput:
      type: object
      description: Todos os campos são opcionais em uma atualização parcial.
      properties:
        user_id:
          type: integer
        title:
          type: string
        body:
          type: string

    Comment:
      type: object
      required: [id, post_id, name, email, body]
      properties:
        id:
          type: integer
          example: 195928
        post_id:
          type: integer
          description: ID do post ao qual o comment pertence.
          example: 290191
        name:
          type: string
        email:
          type: string
          format: email
        body:
          type: string

    CommentInput:
      type: object
      required: [post_id, name, email, body]
      properties:
        post_id:
          type: integer
          description: Deve corresponder a um post existente.
        name:
          type: string
        email:
          type: string
          format: email
        body:
          type: string

    CommentUpdateInput:
      type: object
      description: Todos os campos são opcionais em uma atualização parcial.
      properties:
        post_id:
          type: integer
        name:
          type: string
        email:
          type: string
          format: email
        body:
          type: string

    Todo:
      type: object
      required: [id, user_id, title, due_on, status]
      properties:
        id:
          type: integer
          example: 109312
        user_id:
          type: integer
          description: ID do usuário dono do todo.
          example: 8599818
        title:
          type: string
        due_on:
          type: string
          format: date-time
        status:
          type: string
          enum: [pending, completed]

    TodoInput:
      type: object
      required: [user_id, title, due_on, status]
      properties:
        user_id:
          type: integer
          description: Deve corresponder a um usuário existente.
        title:
          type: string
        due_on:
          type: string
          format: date-time
        status:
          type: string
          enum: [pending, completed]

    TodoUpdateInput:
      type: object
      description: Todos os campos são opcionais em uma atualização parcial.
      properties:
        user_id:
          type: integer
        title:
          type: string
        due_on:
          type: string
          format: date-time
        status:
          type: string
          enum: [pending, completed]
